Flask>=1.0.0,<3.0.1
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
Flask-Bcrypt
WTForms
email-validator
Flask-Uploads  # Referring to Flask-Reuploaded as Flask-Uploads as per documentation
Flask-Migrate
Flask-Security
