{% extends 'base.html' %}

{% block title %}Create New User{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1>Create New User</h1>
    <div class="row">
        <div class="col-md-6">
            <form action="{{ url_for('admin.create_user') }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group mb-3">
                    <label for="email">Email</label>
                    {{ form.email(class_='form-control') }}
                    {% if form.email.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    <label for="role">Role</label>
                    {{ form.roles(class_='form-control') }} <!-- Updated to 'roles' to reflect potential multiple role selection -->
                    {% if form.roles.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.roles.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Create User</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
