{% extends 'base.html' %}

{% block title %}Manage Users{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1>Manage Users</h1>
    <div class="table-responsive mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            {{ role.name }}{% if not loop.last %}, {% endif %}
                        {% else %}
                            No roles
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('admin.create_user') }}" class="btn btn-primary mt-3">Create New User</a>
</div>
{% endblock %}
