{% extends 'base.html' %}

{% block title %}Manage Users{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1>Manage Users</h1>
    <div class="table-responsive mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role.name }}</td>
                    <td>
                        <a href="{{ url_for('admin.edit_user', user_id=user.id) }}" class="btn btn-sm btn-outline-secondary">Edit</a>
                        <a href="{{ url_for('admin.delete_user', user_id=user.id) }}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are you sure?');">Delete</a>
                        <!-- You can add more action buttons if needed -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('admin.create_user') }}" class="btn btn-primary mt-3">Create New User</a>
</div>
{% endblock %}
